@inherits LayoutComponentBase
@inject IBootstrapCss _bootstrap

<NavMenu />

<BSContainer IsFluid="true">
    <BSRow>
        <Sidebar />
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            @Body
        </main>
    </BSRow>
</BSContainer>

@code {
    protected override Task OnInitializedAsync()
    {
        return _bootstrap.SetBootstrapCss(Theme.Flatly, "4.3.1");
    }
}