@using System.Reflection

<nav class="col-md-2 d-none d-md-block sidebar navbar-dark bg-primary">
    <div class="sidebar-sticky ">
        <ul class="nav flex-column">

            <PortalNavLink class="nav-item" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home fa-fw"></i>&nbsp; Home
            </PortalNavLink>

            <PortalNavLink href="/smoker" Match="NavLinkMatch.All">
                <i class="fas fa-fire fa-fw"></i>&nbsp; Smoker
            </PortalNavLink>
        </ul>


    </div>
    
    <div class="d-flex align-items-end">
        <div class="col-sm-12 text-right">
            <span class="text-success">Version: @Assembly.GetExecutingAssembly().GetName().Version</span>
        </div>
    </div>

</nav>