<nav class="col-md-2 d-none d-md-block sidebar navbar-dark bg-primary">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">

            <PortalNavLink class="nav-item" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home fa-fw"></i>&nbsp; Home
            </PortalNavLink>

            <PortalNavLink href="/smoker" Match="NavLinkMatch.All">
                <i class="fas fa-fire fa-fw"></i>&nbsp; Smoker
            </PortalNavLink>
        </ul>
    </div>
</nav>