@using WebBlazor.Client.Pages.Smoker

<span class="fa-stack">
    <i class="fas fa-square fa-stack-2x"></i>
    <i class="fas fa-thermometer-half fa-stack-1x fa-inverse"></i>
</span>

&nbsp; Grill: @Item.GrillTemperature &deg;F / @ToCelsius(Item.GrillTemperature) &deg;C

@code {
    [Parameter]
    public Details.Query.QueryStep Item { get; set; }

    static double? ToCelsius(double? farenheit)
    {
        if (!farenheit.HasValue)
        {
            return null;
        }

        return Math.Round((double)(farenheit - 32) * 5 / 9);
    }

}
