@using WebBlazor.Client.Pages.Smoker
@using WebBlazor.Shared

<span class="fa-stack">
    <i class="fas fa-square fa-stack-2x"></i>
    @_icon

</span>

&nbsp; @_label: @_temperature &deg;F / @TemperatureHelpers.ToCelsius(_temperature) &deg;C

@code {
    [Parameter]
    public Details.Query.QueryStep Item { get; set; }

    [Parameter]
    public TemperatureType Type { get; set; }

    private string _label;

    private RenderFragment _icon;

    private double? _temperature;

    static readonly RenderFragment GrillIcon = __builder =>
    {
    <i class="fas fa-thermometer-half fa-stack-1x fa-inverse"></i>
    };

    static readonly RenderFragment ProbeIcon = __builder =>
    {
    <i class="fas fa-thermometer fa-stack-1x fa-inverse"></i>
    };

    protected override void OnParametersSet()
    {
        switch (Type)
        {
            case TemperatureType.Grill:

                _label = "Grill";
                _icon = GrillIcon;
                _temperature = Item.GrillTemperature;

                break;
            case TemperatureType.Probe:

                _label = "Probe";
                _icon = ProbeIcon;
                _temperature = Item.ProbeTemperature;

                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    }
}
